<div>
  <h1>Hello Debt Management Cloud App</h1>
  <h2>Quick loan schedule</h2>
</div>

<div>
  <label for="nominal">Nominal (EUR):</label>
  <input type="number" placeholder="1000000" id="nominal" [(ngModel)]="nominal" (blur)="clearModel()" /> <!-- 1 -->
  <label for="duration">Duration (months):</label>
  <input type="number" placeholder="12" id="duration" [(ngModel)]="monthsDuration" (blur)="clearModel()" /> <!-- 1 -->
  <label for="interestRate">Interest rate (%):</label>
  <input type="number" placeholder="2.0" id="interestRate" [(ngModel)]="interestRate" (blur)="clearModel()" /> <!-- 1 -->
  <button class="btnComputeSchedule" (click)="renderSchedule()">Compute schedule</button>
</div>

<div>
  <table>
    <caption>Schedule table</caption>
    <tr>
      <th scope="col">Month</th>
      <th scope="col">Type of Payment</th>
      <th scope="col">Payment</th>
    </tr>
    <tr *ngFor="let payment of schedulePayments; index as i"> <!-- 2 -->
      <td class="pDate">{{payment.date.toDateString()}}</td> <!-- 3 -->
      <td class="pType">{{payment.type}}</td> <!-- 3 -->
      <td class="pAmount">{{payment.amount.toFixed(2)}}</td> <!-- 3 -->
    </tr>
  </table>
</div>

<router-outlet></router-outlet>
