<div>
  <h1>Hello Debt Management Cloud App</h1>
  <h2>Quick quotation</h2>
</div>

<div>
  <label for="nominal">Nominal:</label>
  <input type="number" placeholder="1000000" [(ngModel)]="nominal" (blur)="updateModel()" />
  <label for="duration">Duration (months):</label>
  <input type="number" placeholder="12" [(ngModel)]="monthsDuration" (blur)="updateModel()" />
  <label for="duration">Interest rate (%):</label>
  <input type="number" placeholder="2.0" [(ngModel)]="interestRate" (blur)="updateModel()" />
  <button (click)="updateSchedule()">Compute schedule</button>
</div>

<div>
  <table>
    <tr>
      <th>Month</th>
      <th>Type of Payment</th>
      <th>Payment</th>
    </tr>
    <tr *ngFor="let payment of schedulePayments; index as i">
      <td>{{payment.date.toDateString()}}</td>
      <td>{{payment.type}}</td>
      <td>{{payment.amount.toFixed(2)}}</td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>